@font-face {
  font-family: 'mifuente';
  src: url(Fuente/fuente1.ttf);
}

@font-face {
  font-family: 'mifuentep';
  src: url(Fuente/Light.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color1: #f39b12;
  --color2: #c13a2a;
  --color3: #4cb963;
  --color4: #8e24aa;
  --color5: #b3d4fc;
}

/* Navbar */
header {
  /* background-color: #98b4d4; */
  background-color: #f5f6f7;
  box-shadow: #b3d4fc 2px 2px 2px;
}
.logo {
  cursor: pointer;
}
nav {
  height: 10vh;
  width: 70vw;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
#nav_li {
  position: relative;
  text-decoration: none;
  font-family: 'Popins', sans-serif;
  color: white;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
#nav_li::after {
  content: '';
  position: absolute;
  background-color: salmon;
  height: 3px;
  width: 0;
  left: 0;
  width: 0;
  bottom: -10px;
  transition: 0.3s;
}
#nav_li:hover {
  color: black;
}
#nav_li:hover::after {
  width: 100%;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
  font-size: 25px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
  text-decoration: none;
}

.nav__links li a:hover {
  color: #6d6d70;
  text-decoration: underline;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.title {
  font-family: 'mifuente';
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.description {
  font-family: 'mifuentep';
  font-size: 25px;
  text-align: center;
  margin: 20px;
}

/* Imagen en grupo */
.box-group {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.group {
  width: 1200px;
  height: 800px;
  border-radius: 5px;
  transform: translateX(28em);
  margin: 0 auto;
  animation: primero 0.5s linear forwards;
}

/* Tarjetas */
.box-cards {
  height: 500px;
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box-cards .box {
  background-color: #fff;
  height: 450px;
  width: 25%;
  color: #fff;
}
.box1 {
  border-top: 8px solid var(--color1);
  border-bottom: 8px solid var(--color1);
  transform: translateX(-28em);
  animation: primero 0.5s linear forwards;
  margin: 15px;
}
.box2 {
  border-top: 8px solid var(--color2);
  border-bottom: 8px solid var(--color2);
  transform: translateX(-28em);
  animation: primero 0.5s linear forwards;
  margin: 15px;
}
.box3 {
  border-top: 8px solid var(--color3);
  border-bottom: 8px solid var(--color3);
  transform: translateX(28em);
  animation: primero 0.5s linear forwards;
  margin: 15px;
}
.box4 {
  border-top: 8px solid var(--color4);
  border-bottom: 8px solid var(--color4);
  transform: translateX(28em);
  animation: primero 0.5s linear forwards;
  margin: 15px;
}
.box5 {
  border-top: 8px solid var(--color5);
  border-bottom: 8px solid var(--color5);
  transform: translateX(28em);
  animation: primero 0.5s linear forwards;
  margin: 15px;
}
.box img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.box img:hover {
  opacity: 0;
  transition: 0.7s;
}

.box .anecdota {
  align-content: center;
  background-color: #98b4d4;
  display: flex;
  height: 300px;
  justify-content: center;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.box > .anecdota > p {
  font-size: 15px;
  color: #fff;
}

.box .botton {
  padding: 10px;
  width: 65%;
  font-family: 'mifuente';
  text-align: center;
  margin: -20px auto;
  transition: 0.3s;
  display: block;
  position: relative;
  z-index: 2;
  font-weight: bold;
}

.botton > a {
  text-decoration: none;
  color: #fff;
}

.botton > a:hover {
  color: #fff;
}

.botton1 {
  background-color: var(--color1);
}
.botton2 {
  background-color: var(--color2);
}
.botton3 {
  background-color: var(--color3);
}
.botton4 {
  background-color: var(--color4);
}
.botton5 {
  background-color: var(--color5);
}
.box p {
  color: #424246;
  font-family: 'mifuentep';
  text-align: center;
  font-size: 1em;
  width: 80%;
  margin: 50px auto;
}
.box .botton:hover {
  transform: rotate(-10deg);
}

@keyframes primero {
  100% {
    transform: translateX(0);
  }
}
@keyframes segunda {
  100% {
    transform: translateY(0);
  }
}

.box-video {
  background-color: #b3d4fc;
}

.box-video video {
  width: 40%;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: #6d6d70 7px 10px 9px;
}

.video {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.carousel-title {
  color: #fff;
}

.carousel-paragraph {
  color: #fff;
  font-size: 20px;
}
